
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fenxiang:before { content: "\e601"; }
.icon-dian:before { content: "\e61d"; }
.icon-dianhualianxi:before { content: "\e614"; }
.icon-tongzhiguanli:before { content: "\e600"; }
.icon-home:before { content: "\e61e"; }
.icon-3:before { content: "\e615"; }
.icon-wwwyuandian:before { content: "\e61a"; }
.icon-jiluban:before { content: "\e602"; }
.icon-rss:before { content: "\e603"; }
.icon-jiantou:before { content: "\e61b"; }
.icon-crmtubiao34:before { content: "\e61c"; }
.icon-lianjie:before { content: "\e60a"; }
.icon-quweijiaotong:before { content: "\e604"; }
.icon-chanpinleixing:before { content: "\e605"; }
.icon-ruzhuqiye:before { content: "\e606"; }
.icon-xiangmujieshao:before { content: "\e607"; }
.icon-xiangmuyousi:before { content: "\e608"; }
.icon-yuanqufuwu:before { content: "\e609"; }
.icon-zhoubian:before { content: "\e60b"; }
.icon-tiantan:before { content: "\e60c"; }
.icon-huabei:before { content: "\e60d"; }
.icon-huadong:before { content: "\e60e"; }
.icon-huanan:before { content: "\e60f"; }
.icon-huazhong:before { content: "\e610"; }
.icon-xinan:before { content: "\e613"; }
.icon-dongbei:before { content: "\e611"; }
.icon-buju:before { content: "\e612"; }
.icon-diqiu:before { content: "\e616"; }
.icon-jiangzhang:before { content: "\e617"; }
.icon-linbao:before { content: "\e618"; }
.icon-zhengjian:before { content: "\e619"; }
