.icon-sprite-24{ background:url("icon-sprite-24.png") top left no-repeat; }
._01首页_r4_c2{ width:322px; height:38px; background-position:-10px -10px; }
._01首页_r2_c4{ width:19px; height:19px; background-position:-10px -58px; }
